### ***Aula DS 4***

In [1]:
import pandas as pd

In [6]:
# pd.options.display.float_format = '{:2,.f}'.format
dfs = pd.DataFrame(
    data = [],
    columns = ['Lógica de Prorgramação', 'Python', 'Data Science', 'HTML & CSS', 'JavaScript', 'React Native'],
    index = ['Felipe', 'Laura', 'Adriano', 'Rafael', 'Mario', 'Luis', 'Hardmann', 'Clara']
)

dfs

,Lógica de Prorgramação,Python,Data Science,HTML & CSS,JavaScript,React Native
Felipe,NaN,NaN,NaN,NaN,NaN,NaN
Laura,NaN,NaN,NaN,NaN,NaN,NaN
Adriano,NaN,NaN,NaN,NaN,NaN,NaN
Rafael,NaN,NaN,NaN,NaN,NaN,NaN
Mario,NaN,NaN,NaN,NaN,NaN,NaN
Luis,NaN,NaN,NaN,NaN,NaN,NaN
Hardmann,NaN,NaN,NaN,NaN,NaN,NaN
Clara,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import numpy as np

In [8]:
dfs = dfs.apply(lambda nota: np.random.uniform(low = 5.0, high = 10.0, size =dfs.shape[0]), axis='index')
dfs
# O shape coloca o valor de Index que eu já possuo

,Lógica de Prorgramação,Python,Data Science,HTML & CSS,JavaScript,React Native
Felipe,5.589508,9.672738,7.166157,5.298060,6.414615,8.640460
Laura,7.582101,8.064686,6.247988,6.857880,9.943516,8.376221
Adriano,8.958877,6.769208,8.068758,7.911269,5.645975,8.536766
Rafael,7.823986,8.880359,6.219190,6.046507,9.280387,7.207107
Mario,9.836265,8.236756,8.076610,9.791013,9.675405,7.510801
Luis,5.991914,8.480451,6.031454,8.053010,9.764671,5.828064
Hardmann,7.462016,5.478039,7.367302,5.544194,5.029048,5.910201
Clara,8.729510,8.711751,9.652988,5.536262,6.145174,8.806088

In [5]:
dfs = dfs.apply(lambda nota: np.random.uniform(low = 5.0, high = 10.0, size = 8), axis='columns')
dfs

Felipe      [5.9459827643813785, 7.819556301712316, 5.1078...
Laura       [9.44071681809284, 9.179093684898888, 8.047943...
Adriano     [9.691863893994503, 5.647944328289173, 6.26228...
Rafael      [5.041541821318175, 8.531825986950736, 6.31056...
Mario       [5.631344754154085, 7.476662935197636, 5.86989...
Luis        [8.833339564250755, 8.094376514295227, 8.92908...
Hardmann    [7.662641042167053, 8.826373869786668, 6.16292...
Clara       [9.957148868438715, 6.8260356430908296, 7.8563...
dtype: object

In [11]:
pd.options.display.float_format = '{:,.2f}'.format
dfs

,Lógica de Prorgramação,Python,Data Science,HTML & CSS,JavaScript,React Native
Felipe,5.59,9.67,7.17,5.30,6.41,8.64
Laura,7.58,8.06,6.25,6.86,9.94,8.38
Adriano,8.96,6.77,8.07,7.91,5.65,8.54
Rafael,7.82,8.88,6.22,6.05,9.28,7.21
Mario,9.84,8.24,8.08,9.79,9.68,7.51
Luis,5.99,8.48,6.03,8.05,9.76,5.83
Hardmann,7.46,5.48,7.37,5.54,5.03,5.91
Clara,8.73,8.71,9.65,5.54,6.15,8.81

In [15]:
dfs['Média'] = dfs.mean(axis='columns')
dfs

,Lógica de Prorgramação,Python,Data Science,HTML & CSS,JavaScript,React Native,Média
Felipe,5.59,9.67,7.17,5.30,6.41,8.64,7.13
Laura,7.58,8.06,6.25,6.86,9.94,8.38,7.85
Adriano,8.96,6.77,8.07,7.91,5.65,8.54,7.65
Rafael,7.82,8.88,6.22,6.05,9.28,7.21,7.58
Mario,9.84,8.24,8.08,9.79,9.68,7.51,8.85
Luis,5.99,8.48,6.03,8.05,9.76,5.83,7.36
Hardmann,7.46,5.48,7.37,5.54,5.03,5.91,6.13
Clara,8.73,8.71,9.65,5.54,6.15,8.81,7.93

In [18]:
dfs['Situação'] = dfs['Média'].apply(lambda media: 'AP' if media >= 7.0 else 'RP')
dfs

,Lógica de Prorgramação,Python,Data Science,HTML & CSS,JavaScript,React Native,Média,Situação
Felipe,5.59,9.67,7.17,5.30,6.41,8.64,7.13,AP
Laura,7.58,8.06,6.25,6.86,9.94,8.38,7.85,AP
Adriano,8.96,6.77,8.07,7.91,5.65,8.54,7.65,AP
Rafael,7.82,8.88,6.22,6.05,9.28,7.21,7.58,AP
Mario,9.84,8.24,8.08,9.79,9.68,7.51,8.85,AP
Luis,5.99,8.48,6.03,8.05,9.76,5.83,7.36,AP
Hardmann,7.46,5.48,7.37,5.54,5.03,5.91,6.13,RP
Clara,8.73,8.71,9.65,5.54,6.15,8.81,7.93,AP

In [27]:
def calcular_media(media: float) -> str:
  '''DocString'''
  if media >= 7:
    return 'AP'
  return 'RP'

In [36]:
dfs['Situação'] = dfs['Média'].apply(calcular_media)
dfs

,Status,Lógica de Prorgramação,Python,Data Science,HTML & CSS,JavaScript,React Native,Média,Situação
Felipe,AP,5.59,9.67,7.17,5.30,6.41,8.64,7.13,AP
Laura,AP,7.58,8.06,6.25,6.86,9.94,8.38,7.85,AP
Adriano,AP,8.96,6.77,8.07,7.91,5.65,8.54,7.65,AP
Rafael,AP,7.82,8.88,6.22,6.05,9.28,7.21,7.58,AP
Mario,AP,9.84,8.24,8.08,9.79,9.68,7.51,8.85,AP
Luis,AP,5.99,8.48,6.03,8.05,9.76,5.83,7.36,AP
Hardmann,RP,7.46,5.48,7.37,5.54,5.03,5.91,6.13,RP
Clara,AP,8.73,8.71,9.65,5.54,6.15,8.81,7.93,AP

In [38]:
situacao = dfs['Média'].map(lambda media: 'AP' if media > 7 else 'RP')
dfs

,Status,Lógica de Prorgramação,Python,Data Science,HTML & CSS,JavaScript,React Native,Média,Situação
Felipe,AP,5.59,9.67,7.17,5.30,6.41,8.64,7.13,AP
Laura,AP,7.58,8.06,6.25,6.86,9.94,8.38,7.85,AP
Adriano,AP,8.96,6.77,8.07,7.91,5.65,8.54,7.65,AP
Rafael,AP,7.82,8.88,6.22,6.05,9.28,7.21,7.58,AP
Mario,AP,9.84,8.24,8.08,9.79,9.68,7.51,8.85,AP
Luis,AP,5.99,8.48,6.03,8.05,9.76,5.83,7.36,AP
Hardmann,RP,7.46,5.48,7.37,5.54,5.03,5.91,6.13,RP
Clara,AP,8.73,8.71,9.65,5.54,6.15,8.81,7.93,AP

In [41]:
dfs.rename(str.upper, axis='columns', inplace=True)

In [43]:
dfs

,STATUS,LÓGICA DE PRORGRAMAÇÃO,PYTHON,DATA SCIENCE,HTML & CSS,JAVASCRIPT,REACT NATIVE,MÉDIA,SITUAÇÃO
Felipe,AP,5.59,9.67,7.17,5.30,6.41,8.64,7.13,AP
Laura,AP,7.58,8.06,6.25,6.86,9.94,8.38,7.85,AP
Adriano,AP,8.96,6.77,8.07,7.91,5.65,8.54,7.65,AP
Rafael,AP,7.82,8.88,6.22,6.05,9.28,7.21,7.58,AP
Mario,AP,9.84,8.24,8.08,9.79,9.68,7.51,8.85,AP
Luis,AP,5.99,8.48,6.03,8.05,9.76,5.83,7.36,AP
Hardmann,RP,7.46,5.48,7.37,5.54,5.03,5.91,6.13,RP
Clara,AP,8.73,8.71,9.65,5.54,6.15,8.81,7.93,AP

In [47]:
dfs.drop(['STATUS'], axis='columns', inplace=True)

KeyError: ignored

In [49]:
dfs

,LÓGICA DE PRORGRAMAÇÃO,PYTHON,DATA SCIENCE,HTML & CSS,JAVASCRIPT,REACT NATIVE,MÉDIA,SITUAÇÃO
Felipe,5.59,9.67,7.17,5.30,6.41,8.64,7.13,AP
Laura,7.58,8.06,6.25,6.86,9.94,8.38,7.85,AP
Adriano,8.96,6.77,8.07,7.91,5.65,8.54,7.65,AP
Rafael,7.82,8.88,6.22,6.05,9.28,7.21,7.58,AP
Mario,9.84,8.24,8.08,9.79,9.68,7.51,8.85,AP
Luis,5.99,8.48,6.03,8.05,9.76,5.83,7.36,AP
Hardmann,7.46,5.48,7.37,5.54,5.03,5.91,6.13,RP
Clara,8.73,8.71,9.65,5.54,6.15,8.81,7.93,AP

In [51]:
df = pd.DataFrame(
    {
        'Linguagem': ['Python', 'R', 'SQL', 'C', 'Java', 'Javascript', 'Elixir'],
        'Popularidade': ['Alta', 'Baixa', 'Altíssima', 'Média', 'Altíssima', 'Altíssima', 'Baixa'],
        'Versão': [3.10, 4.2, None, None, 11, 16, 1.12],
        'Desenvolvedores': [7_000_000, 500_000, 20_000_000, 3_500_000, 16_000_000, 25_000_000, 200_000],
        'Data de Lançamento': ['1991-02-20', '1993-08-03', '1986-01-01', '1972-01-01', '1995-05-23', '1995-12-04', '2012-01-01']
    }
)

df

    Linguagem Popularidade  Versão  Desenvolvedores Data de Lançamento
0      Python         Alta    3.10          7000000         1991-02-20
1           R        Baixa    4.20           500000         1993-08-03
2         SQL    Altíssima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altíssima   11.00         16000000         1995-05-23
5  Javascript    Altíssima   16.00         25000000         1995-12-04
6      Elixir        Baixa    1.12           200000         2012-01-01

In [52]:
df.rename(columns={'Linguagem': 'Linguagens'}, inplace=True)
df

   Linguagens Popularidade  Versão  Desenvolvedores Data de Lançamento
0      Python         Alta    3.10          7000000         1991-02-20
1           R        Baixa    4.20           500000         1993-08-03
2         SQL    Altíssima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altíssima   11.00         16000000         1995-05-23
5  Javascript    Altíssima   16.00         25000000         1995-12-04
6      Elixir        Baixa    1.12           200000         2012-01-01

In [54]:
df.rename(
    index={0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G'},
    inplace = True
)

In [56]:
df

   Linguagens Popularidade  Versão  Desenvolvedores Data de Lançamento
A      Python         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01
E        Java    Altíssima   11.00         16000000         1995-05-23
F  Javascript    Altíssima   16.00         25000000         1995-12-04
G      Elixir        Baixa    1.12           200000         2012-01-01

In [58]:
df['Linguagens']

A        Python
B             R
C           SQL
D             C
E          Java
F    Javascript
G        Elixir
Name: Linguagens, dtype: object

In [63]:
df['Linguagens'].apply(lambda txt: txt.upper())

A        PYTHON
B             R
C           SQL
D             C
E          JAVA
F    JAVASCRIPT
G        ELIXIR
Name: Linguagens, dtype: object

In [65]:
df['Popularidade']

A         Alta
B        Baixa
C    Altíssima
D        Média
E    Altíssima
F    Altíssima
G        Baixa
Name: Popularidade, dtype: object

In [68]:
df['Popularidade'].apply(lambda txt: txt.swapcase())

A         aLTA
B        bAIXA
C    aLTÍSSIMA
D        mÉDIA
E    aLTÍSSIMA
F    aLTÍSSIMA
G        bAIXA
Name: Popularidade, dtype: object

In [69]:
s1 = df['Linguagens']

In [72]:
s1.index.map(lambda txt: txt.lower())

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [74]:
df

   Linguagens Popularidade  Versão  Desenvolvedores Data de Lançamento
A      Python         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01
E        Java    Altíssima   11.00         16000000         1995-05-23
F  Javascript    Altíssima   16.00         25000000         1995-12-04
G      Elixir        Baixa    1.12           200000         2012-01-01

In [76]:
df['Versão']

A    3.10
B    4.20
C     NaN
D     NaN
E   11.00
F   16.00
G    1.12
Name: Versão, dtype: float64

In [80]:
df.shape[0]

df.index = range(df.shape[0])
df

   Linguagens Popularidade  Versão  Desenvolvedores Data de Lançamento
0      Python         Alta    3.10          7000000         1991-02-20
1           R        Baixa    4.20           500000         1993-08-03
2         SQL    Altíssima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altíssima   11.00         16000000         1995-05-23
5  Javascript    Altíssima   16.00         25000000         1995-12-04
6      Elixir        Baixa    1.12           200000         2012-01-01

In [83]:
import string as s
df.index = [num for num in s.ascii_uppercase[:df.shape[0]]]
df

   Linguagens Popularidade  Versão  Desenvolvedores Data de Lançamento
A      Python         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01
E        Java    Altíssima   11.00         16000000         1995-05-23
F  Javascript    Altíssima   16.00         25000000         1995-12-04
G      Elixir        Baixa    1.12           200000         2012-01-01

In [89]:
df['Versão'].agg(['min', 'max', 'mean', 'sum'])

min     1.12
max    16.00
mean    7.08
sum    35.42
Name: Versão, dtype: float64

In [91]:
df['Versão'].agg(['min', 'max']).to_frame().transpose()

        min   max
Versão 1.12 16.00

In [93]:
df.count(axis='columns')

A    5
B    5
C    4
D    4
E    5
F    5
G    5
dtype: int64

In [95]:
df.sort_values(by='Versão')

   Linguagens Popularidade  Versão  Desenvolvedores Data de Lançamento
G      Elixir        Baixa    1.12           200000         2012-01-01
A      Python         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
E        Java    Altíssima   11.00         16000000         1995-05-23
F  Javascript    Altíssima   16.00         25000000         1995-12-04
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01

In [98]:
df.sort_values(by='Desenvolvedores', ascending=False).head(3)

   Linguagens Popularidade  Versão  Desenvolvedores Data de Lançamento
F  Javascript    Altíssima   16.00         25000000         1995-12-04
C         SQL    Altíssima     NaN         20000000         1986-01-01
E        Java    Altíssima   11.00         16000000         1995-05-23

In [99]:
dfs

,LÓGICA DE PRORGRAMAÇÃO,PYTHON,DATA SCIENCE,HTML & CSS,JAVASCRIPT,REACT NATIVE,MÉDIA,SITUAÇÃO
Felipe,5.59,9.67,7.17,5.30,6.41,8.64,7.13,AP
Laura,7.58,8.06,6.25,6.86,9.94,8.38,7.85,AP
Adriano,8.96,6.77,8.07,7.91,5.65,8.54,7.65,AP
Rafael,7.82,8.88,6.22,6.05,9.28,7.21,7.58,AP
Mario,9.84,8.24,8.08,9.79,9.68,7.51,8.85,AP
Luis,5.99,8.48,6.03,8.05,9.76,5.83,7.36,AP
Hardmann,7.46,5.48,7.37,5.54,5.03,5.91,6.13,RP
Clara,8.73,8.71,9.65,5.54,6.15,8.81,7.93,AP